<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/alexandrucoman">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/comanalex">Professional Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook-official fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/alxcoman">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook-official fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/coman_alexandru">Twitter</a>
  </li>
</ul>