<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/alexcoman">@alexcoman</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/comanalex">@comanalex</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/coman_alexandru">@coman_alexandru</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/alxcoman">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-skype fa-lg main-list-item-icon"></span>
    <a href="#">alex.fcoman</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:contact@alexcoman.com">contact at alexcoman.com</a>
  </li>
</ul>
